.video-player{
    grid-area: video-player;
    background: #f1f1f3;
}

.video-title{
    font-weight: 600;
    color: #468284;
    padding: 10px;
}

.video-description{
    padding: 10px;
    color: #0000CD;
}